{% extends "base.html" %}

{%  block content%}
	<div class="main">
	  <div class="header">
	    <div class="header_resize">
	      <div class="logo"><h1><a href="/l">厦门大学2007级计算机系2班</a></h1></div>
	      <div class="menu_nav">
	        <ul>
	          <li><a href="/personalpage/">个人信息</a></li>
	          <li><a href="/modifyinfo/">修改信息</a></li>
	          <li><a href="/classall/">通讯录</a></li>
	          <li><a href="">关于</a></li>
	        </ul>
	      </div>
	      <div class="clr"></div>
	    </div>
	  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>╮(╯_╰)╭</h2>
          <p>
			All rights reserved by xmuliushuo, aaronwxb.
			<br>
			2012.10
          </p>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>

{% endblock %}