{% extends "base.html" %}

{% block head %}
请输入学号
{% endblock %}

{%  block content%}

	{% if form.errors %}
		<p style="color:red;">
			请按提示修改错误。
		</p>
	{% endif %}
	
	<form action="" method="post">
		<div>
			{{ form.studentnum.errors }}
			<label>学号：</label>
			<input type="text" name="studentnum" value="本科学号" onfocus="if (value =='本科学号'){value=''}" onblur="if(value=='') {value='本科学号'}">
			{{form.studentnum}}
		</div>
		<div>
			{{ form.password.errors }}
			<label>姓名：</label>
			<input type="password" name="password">
			{{form.password}}
		</div>

		<input type="submit" value="登录">
	</form>	

{% endblock %}