{% extends "base.html" %}

{%  block content%}
	<div class="main">
	  <div class="header">
	    <div class="header_resize">
	      <div class="logo"><h1><a href="/l">厦门大学2007级计算机系2班</a></h1></div>
	      <div class="menu_nav">
	        <ul>
	          <li><a href="/personalpage/">个人信息</a></li>
	          <li class="active"><a href="/modifyinfo/">修改信息</a></li>
	          <li><a href="/classall/">通讯录</a></li>
	          <li><a href="/about/">关于</a></li>
	        </ul>
	      </div>
	      <div class="clr"></div>
	    </div>
	  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>修改个人信息</h2>
          <form action="/handle_modify/" method="post" id="leavereply">
		<ol>
		  <li>
			学号：<input id="studentnum" name="studentnum" class="text" readonly="readonly" value="{{personalinfo.studentnum}}" />
          </li>
          <li>
          	姓名：<input id="name" name="name" class="text" readonly="readonly" value="{{personalinfo.name}}" />
          </li>
          <li>
			手机：<input id="phone" name="phone" class="text" value="{{personalinfo.phone}}" />
          </li>
          <li>
            QQ：<input id="qq" name="qq" class="text" value="{{personalinfo.qq}}" />
          </li>
          <li>
            Email：<input id="email" name="email" class="text" value="{{personalinfo.email}}" />
          </li>
          <li>
          	工作：<input id="job" name="job" class="text" value="{{personalinfo.job}}" />
          </li>
          <li>
			公司：<input id="company" name="company" class="text" value="{{personalinfo.company}}" />
          </li>
          <li>
			邮编：<input id="postnum" name="postnum" class="text" value="{{personalinfo.postnum}}" />
          </li>
          <li>
			 地址：<input id="addr" name="addr" class="text" value="{{personalinfo.addr}}" />
          </li>
          <li>
			感情状态：<select id="relation" name="relation" value="{{personalinfo.relation}}">
				<option value="0">单身</option>
				<option value="1">有男朋友</option>
				<option value="2">有女朋友</option>
				<option value="3">已婚</option>
				<option value="31">纸婚</option>
				<option value="310">锡婚</option>
				<option value="320">瓷婚</option>
				<option value="330">珍珠婚</option>
				<option value="340">红宝石婚</option>
				<option value="350">金婚</option>
				<option value="4">离婚</option>
				<option value="5">二婚</option>	
			</select>
          </li>
          <li>
			微博：<input id="weibo" name="weibo" class="text" value="{{personalinfo.weibo}}" />
          </li>
          <li>
			人人：<input id="renren" name="renren" class="text" value="{{personalinfo.renren}}" />
          </li>
          <li>
			个人主页：<input id="personal_home_page" name="personal_home_page" class="text" value="{{personalinfo.personal_home_page}}" />
          </li>
          <li>
            <input type="image" name="submit" id="submit" src="/static/images/submit.gif" class="send" />
            <div class="clr"></div>
          </li>
          </ol>
          </form>
        </div>
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star">班级公告</h2>
          <p>hello!</p>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <p>班级通讯录</p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
{% endblock %}